.profile__edit-image {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}

.profile__edit-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/edit-button.svg);
    background-position: center;
    background-size: 26px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .4s ease-in;
}

.profile__edit-image:hover::before {
    opacity: 1;
}