@import "./vendor/normalize.css";
@import "./vendor/fonts/InterWeb/inter.css";
@import "./blocks/root/root.css";
@import "./blocks/header/header.css";
@import "./blocks/header/__link/header__link.css";
@import "./blocks/header/__logo/header__logo.css";
@import "./blocks/profile/profile.css";
@import "./blocks/profile/__container/profile__container.css";
@import "./blocks/profile/__edit-image/profile__edit-image.css";
@import "./blocks/profile/__image/profile__image.css";
@import "./blocks/profile/__name-container/profile__name-container.css";
@import "./blocks/profile/__name/profile__name.css";
@import "./blocks/profile/__edit-button/profile__edit-button.css";
@import "./blocks/profile/__job/profile__job.css";
@import "./blocks/profile/__add-button/profile__add-button.css";
@import "./blocks/places/__container/places__container.css";
@import "./blocks/place/place.css";
@import "./blocks/place/__image/place__image.css";
@import "./blocks/place/__trash-button/place__trash-button.css";
@import "./blocks/place/__trash-button/_hidden/place__trash-button_hidden.css";
@import "./blocks/place/__title-container/place__title-container.css";
@import "./blocks/place/__title/place__title.css";
@import "./blocks/place/__like-container/place__like-container.css";
@import "./blocks/place/__like-counter/place__like-counter.css";
@import "./blocks/place/__like-button/place__like-button.css";
@import "./blocks/place/__like-button/_active/place__like-button_active.css";
@import "./blocks/footer/footer.css";
@import "./blocks/footer/__copyright/footer__copyright.css";
@import "./blocks/popup/popup.css";
@import "./blocks/popup/_type/popup_type_add-card.css";
@import "./blocks/popup/_type/popup_type_edit-form.css";
@import "./blocks/popup/_type/popup_type_show-image.css";
@import "./blocks/popup/__submit/popup__submit.css";
@import "./blocks/popup/__container/popup__container.css";
@import "./blocks/popup/__image-container/popup__image-container.css";
@import "./blocks/popup/__flex-container/popup__flex-container.css";
@import "./blocks/popup/__close-button/popup__close-button.css";
@import "./blocks/popup/__input-container/popup__input-container.css";
@import "./blocks/popup/__image/popup__image.css";
@import "./blocks/popup/__caption/popup__caption.css";
@import "./blocks/popup/__title/popup__title.css";
@import "./blocks/popup/__text/popup__text.css";
@import "./blocks/popup/__text/_type/popup__text_type_avatar-url.css";
@import "./blocks/popup/_opened/popup_opened.css";
@import "./blocks/popup/__text/_type/popup__text_type_invalid.css";
@import "./blocks/popup/__input-error/popup__input-error.css";
@import "./blocks/popup/__input-error/_active/popup__input-error_active.css";
@import "./blocks/popup/__submit/_invalid/popup__submit_invalid.css";

/* body {
    min-width: 300px;
    max-width: 880px;
    margin: 0 auto;
    background-color: #000000;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-fout-smothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
} */


/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */